<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ctsmarket05">

    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".view.activities.oneProductSequence.OPSActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.userActivities.UserPurchaseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.OrderExpandedActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.LocationAddActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.userActivities.UserInfoEditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.userActivities.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.oneProductSequence.OPSActivity2" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.oneProductSequence.OPSActivity4" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.oneProductSequence.OPSActivity5" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.oneProductSequence.OPSActivity6" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.CartBuyFinalActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.userActivities.LocationInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.userActivities.UserActivty" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.oneProductSequence.OPSActivity3" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.InfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.LogginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.HomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.MainActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>